<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Greenpeace</title>
</head>

<body>
    <!-- general layout based on the one suggested by Matthew James Taylor: https://matthewjamestaylor.com/bottom-footer -->
    <div class="container">
        <label class="menu-button" for="menu-toggle"></label>
        <input type="checkbox" name="" id="menu-toggle">
        <div class="large-overlay">
            <div class="overlay-nav-container">
                <ul class="nav-list-overlay">
                    <a class="nav-list-link-large" href="about.html">
                        <li class="nav-list-item-large">
                            <img class="nav-list-link-large-image" src="../img/about.png" alt="">
                        </li>
                    </a>
                    <a class="nav-list-link-large" href="activity.html">
                        <li class="nav-list-item-large">
                            <img class="nav-list-link-large-image" src="../img/activity.png" alt="">
                        </li>
                    </a>
                    <a class="nav-list-link-large" href="community.html">
                        <li class="nav-list-item-large">
                            <img class="nav-list-link-large-image" src="../img/community.png" alt="">
                        </li>
                    </a>
                    <a class="nav-list-link-large" href="contact.html">
                        <li class="nav-list-item-large">
                            <img class="nav-list-link-large-image" src="../img/contact.png" alt="">
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="menu-span span1"></div>
        <div class="menu-span span2"></div>
        <div class="menu-span span3"></div>
        <div class="inner">
            <div class="row">
                <div class="header">
                    <div class="header-container">
                        <div class="header-logo-box">
                            <a href="../index.html"><img src="../img/greenpeace-logo.png" alt="greenpeace-logo" class="logo"></a>
                        </div>
                        <div class="header-nav-box">
                            <div class="nav-container">
                                <ul class="nav-list">
                                    <a class="nav-list-link" href="./about.html">
                                        <li class="nav-list-item"><img class="nav-list-link-image" src="../img/about.png"
                                                alt=""></li>
                                    </a>
                                    <a class="nav-list-link" href="./activity.html">
                                        <li class="nav-list-item"><img class="nav-list-link-image" src="../img/activity.png"
                                                alt=""></li>
                                    </a>
                                    <a class="nav-list-link" href="./community.html">
                                        <li class="nav-list-item"><img class="nav-list-link-image" src="../img/community.png"
                                                alt=""></li>
                                    </a>
                                    <a class="nav-list-link" href="./contact.html">
                                        <li class="nav-list-item active"><img class="nav-list-link-image" src="../img/contact.png"
                                                alt=""></li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-whitespace"></div>
            </div>

        </div>
        <div class="row contact">
            <div class="contact-container">
                <div class="contact-card-container">
                    <div class="contact-card form">
                        <form action="">
                            <input class="contact-input" type="text" required name="" id="" placeholder="First Name">

                            <input class="contact-input" type="text" required name="" id="" placeholder="Last Name">

                            <input class="contact-input" type="email" required name="" id="" placeholder="Email Address">

                            <textarea name="" id="" cols="30" rows="10" placeholder="Your message" required></textarea>

                            <input class="contact-input" type="submit" value="Get in touch" id="contact-button">
                        </form>
                    </div>
                </div>
                <div class="contact-card-container contact-card-container-contact">
                    <div class="contact-card details">
                        <img src="../img/greenpeace-logo.png" alt="greenpeace-logo" class="logo logo-contact">
                        <table class="contact-more">

                            <tr>
                                <th id="upleft" colspan="2">Ottho Heldringstraat 5, 1066 AZ Amsterdam</th>
                                <td id="upright">The Netherlands</td>
                            </tr>
                            <tr>
                                <th id="downleft" colspan="2">+31 800 4223344</th>
                                <td id="downright"><a href="mailto:info.int@greenpeace.org">info.int@greenpeace.org</a></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <footer>
                        <table class="footer-table">
                            <tr>
                                <th colspan="2">Greenpeace International</th>
                                <td><a href="https://www.greenpeace.org/international/">Official Greenpeace Website</a></td>
                            </tr>
                            <tr>
                                <td>Ottho Heldringstraat 5</td>
                                <td>+31 20 718 2000</td>
                                <td>info.int@greenpeace.org</td>
                            </tr>
                            <tr>
                                <td>1066 AZ Amsterdam</td>
                                <th colspan="2">&copy;Greenpeace 2018</th>
                            </tr>
                            <tr>
                                <td>The Netherlands</td>
                                <th colspan="2">Developed and designed by Raphael Hetherington</th>
                            </tr>
                        </table>
                    </footer>
        </div>
    </div>
</body>

</html>